[phases.setup]
nixPkgs = ["python312", "python312Packages.pip", "python312Packages.setuptools", "python312Packages.wheel"]

[phases.install]
cmds = [
  "set -eux",
  "command -v python3",
  "python3 --version",
  "command -v pip",
  "pip --version",
  "pip install --upgrade pip setuptools wheel",
  "pip install -r requirements.txt"
]

[start]
cmd = "bash start.sh"
