[phases.setup]
nixPkgs = ["python312", "python312Packages.pip", "gcc"]

[phases.install]
cmds = [
  "python3 -m pip install --upgrade pip",
  "python3 -m pip install -r requirements.txt"
]

[start]
cmd = "bash start.sh"
